.container {
  padding-top: 3rem;
  padding-right: 10rem;
  padding-left: 10rem;
}

.container .intro {
  text-align: center;
}

.contact {
  text-align: center;
  padding-bottom: 3rem;
}

::selection {
  background-color: royalblue;
}

::-moz-selection {
  background-color: royalblue;
}

.officers2 {
  padding-top: 3rem;
}

.officers2 .img-hold {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
  border: solid rgba(0, 0, 0, 0.171);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.officers2 .card {
  margin-left: 4rem;
  margin-right: 4rem;
}

.officers {
  padding-top: 3rem;
}

.officers .img-hold {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  float: left;
  border: solid rgba(0, 0, 0, 0.171);
}

.names {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card {
  border-radius: 1%;
  margin-bottom: 2rem;
}
