.container {
  padding-top: 3rem;
}

.container .intro {
  text-align: center;
}

.contact {
  text-align: center;
  padding-bottom: 3rem;
}

::selection {
  background-color: royalblue;
}

::-moz-selection {
  background-color: royalblue;
}

.officers {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.officers .img-hold {
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  float: left;
  border: solid rgba(0, 0, 0, 0.171);
}

.names {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.card {
  border-radius: 1%;
  margin-bottom: 2rem;
  margin-left: 14rem;
  margin-right: 14rem;
}

.rango {
  font-size: 2vw;
}
